.listBoxContainer {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
}

.listBoxItem {
  background-color: black;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.activeItem {
  background-color: #d4cdcd;
  color: black;
}
